.app-container {
    /* min-height: 100vh; */
    width: 100vw;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header {
    padding: 15px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2e3742;
}

.header-arrow-icon {
    width: 45px;
    max-width: 45px;
}

.location-parent-container {
    display: flex;
    align-items: center;
    width: 60%;
}

.location-child-container {
    margin-left: 14px;
    width: calc(100% - 45px);
}

.location {
    display: flex;
    flex-direction: column;
}

.location-name {
    margin: 0px;
    font-size: 19px;
    margin-right: 5px;
    font-weight: 600;
}

.address-para {
    white-space: nowrap;
    margin: 0px;
    width: 90%;
    overflow: hidden;
    margin-top: 5px;
    text-overflow: ellipsis; 
    font-size: 14px;
    font-weight: 500;
}

.down-arrow-icon {
    display: none;
}

.header-right-container {
    display: flex;
    align-items: center;
    margin-right: 11px;
}

.wallet-container, .cart-container {
    position: relative; 
}

.header-value-button {
    border: none;
    background-color: #156ddc;
    border-radius: 10px;
    padding: 2px 8px;
    color: #ffffff;
    position: absolute;
    top: -8px;
    right: -35px;
}

.large-device-location-dot {
    display: none;
}

.search-container {
    margin: 10px 5px;
    border: solid 1px gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-right: 15px;
    margin-top: 10px;
}

.lg-search-bar {
    display: none;
}

.search-input {
    background-color: transparent;
    width: 100%;
    color: #2e3742;
    padding: 17px 15px;
    font-size: 18px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
}

.app-search-container {
    width: 100%;
    padding: 0px 15px;
}


@media screen and (min-width: 768px) and  (max-width: 1024px) {
    .location-parent-container {
        width: 80%;
    }

    .location-name{
        font-size: 25px;
        margin-right: 7px;
    }

    .address-para {
        font-size: 17px;
    }

    .location-icon {
        /* margin-top: 5px; */
        height: 23px
    }

    .header-value-button {
        font-size: 17px;
        padding: 3px 9px;
        border-radius: 15px;
        right: -40px;
    }

    .search-input {
        font-size: 23px;
    }

    .search-container {
        padding-right: 20px;
    }

    .search-icon {
        height: 34px;
        width: 34px; 
    }
}





@media screen and (min-width: 1200px) {
    .app-search-container {
        display: none;
    }

    .location-parent-container {
        max-width: 250px;
        align-items: flex-start;
        padding: 6px;
    }

    .header-arrow-icon {
        display: none;
    }

    .header {
        background-color: #156ddc;
        color: #ffffff;
        padding: 9px 130px !important; 
    }

    .location-parent-container {
        background-color: rgb(255, 255, 255, 0.19);
        border-radius: 10px;
    }

    .location-child-container {
        position: relative;
    }

    .location-name {
        color: #ffffff;
        font-size: 19px;
        font-weight: 400;
    }

    .address-para {
        font-size: 12px;
        font-weight: 300;
        overflow: auto;
        white-space: normal;
        text-overflow: clip;
        line-height: 1.4;
        margin-top: 4px;
    }

    .location-icon {
        display: none;
    }

    .large-device-location-dot {
        display: block;
        margin-top: 5px;
    }

    .down-arrow-icon {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .header-value-button {
        color: #156ddc;
        background-color: #ffffff;
        font-weight: 600;
    }

    .lg-search-bar {
        display: block;
    }

    .search-container {
        border: solid 1px #ffffff;
        border-radius: 15px;
        background-color: #ffffff;
    }

    .search-input {
        width: 540px;
        font-size: 17px;
        overflow: auto;
        border: none;
        white-space: normal;
        border-radius: 17px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        text-overflow: clip;
        padding-top: 13px;
        padding-bottom: 13px;
        font-weight: 300;
        background-color: #ffffff;
        border-right: solid 1px #7b8086;
        margin-right: 15px;
    }

    .search-icon {
        color: #156ddc!important;
        background-color: #ffffff;
    }
}

.icons-container {
    width: 100%;
    padding: 5px 23px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px !important;
}

.icons-list {
    
    width: 30%;
}

.icons-anchor {
    color: #2e3742;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

.icons-image {
    height: 60px;
    width: 60px;
    transition: transform 0.3s;
}

.icons-image:hover {
    transform: scale(1.2);
}

.icons-para{
    margin: 0px;
    text-align: center;
    font-size: 13px;
    margin-top: 5px;
}

.extra-para {
    display: block;
}


@media screen and (max-width: 400px) {
    .icons-list {
        width: 50%;
    }

    .icons-para {
        width: 70%;
    }

    
}


@media screen and (min-width: 768px) and  (max-width: 1024px) {
    .icons-image {
        height: 85px;
        width: 85px;
    }

    .icons-para {
        font-size: 19px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .icons-container {
        margin-top: 60px !important;
        justify-content: center;
    }

    .icons-list {
        width: auto;
    }

    .icons-anchor {
        width: 200px;
    }

    .icons-image {
        height: 70px;
        width: 70px;
    }

    .extra-para {
        display: block;
    }

    .icons-para {
       margin-top: 18px;
    }
}

.banners-container {
    width: 100%;
    margin-top: 18px;
    padding: 0px 18px;
    margin-bottom: 35px;
}

.banner-anchor {
    width: 100%;
}

.banner-image{
    width:100%;
    height: 135px;
}

.custom-dot{
    background-color: black;
    width: 10px;
    height: 10px;
}

@media screen and (min-width: 768px) and  (max-width: 1199px) {
    .banners-container {
        padding: 0px 25px;
    }

    .swiper-slide-component {
        width: 50%;
    }

    .banner-image{
        height: 145px;
    }
}

@media screen and (min-width: 1200px) {
    .banners-container {
        padding: 0px 130px;
        margin-top: 25px;
    }

    .swiper-slide-component {
        width: auto;
    }

    .banner-image{
        height: 135px;
    }
    
}

.featured-health-container {
    border: solid 1px red;
    width: 100%;
    background-color: #e8f2fe;
    padding: 12px 16px;
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-section-heading{
    color: #050a4e;
    font-size: 18px;
    font-weight: 600;

}

.view-all-para {
    color: #156ddc;
    font-weight: 600;
}

.categories-container{
    /* border: solid 1px black; */
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 10px;
    margin-bottom: 8px;
}

.categories-container::-webkit-scrollbar{
    display: none;
}

.category-list-element {
    margin-right: 14px;
    /* border: solid 1px red; */
    border-radius: 9px;
    -webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
}

.category-button {
    background-color: #ffffff;
    border-radius: 9px;
    padding: 10px 12px;
    color: #2e3742;
    width: 100%;
    border: none;
    font-size: 14.5px;
    white-space: nowrap;
    font-weight: 500;
    margin: 0px;
}

.active-button {
    color:#156ddc;
    border: solid 1.5px#156ddc;
}

/* Packages */

.packages-container {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 15px;
    margin-bottom: 8px;
}

.packages-container::-webkit-scrollbar{
    display: none;
}


.package-list-element {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
    border-radius: 10px;
    padding: 10px 18px 30px;
    width: auto;
    height: 400px;
    margin-right: 20px;
}

.package-main-heading {
    color: #050a4e;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    width: 300px;
    height: 60px;
    white-space:unset;
}

.reports-container {
    display: flex;
    align-items: center;
}

.package-icon {
    margin-right: 6px;
}

.package-report-para {
    color: #156ddc;
    font-size: 14.5px;
}

.package-child-container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    /* border: solid 1px red; */
}

.includes-container {
    width: 45%;
}

.test-heading-para {
   color:#050a4e;
   margin: 0px;
   font-size: 14.6px;
   font-weight: 500;
   margin-bottom: 5px;
}

.tests-container {
    width: 100%;
    padding-left: 10px;
}

.dot-icon {
    margin-right: 8px; 
    font-size: 20px; 
    color: black;
}

.test-list-element {
    color: #2e3742;
    font-size: 12.7px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    line-height: 1.7;
    margin: 0px;
}

.wrapper-container {
    width: 100%;
    padding: 0px 0px;
}

.child2 {
    background-color: #f8f8f8;
    border-radius: 7px;
    padding: 12px;
    margin-top: 13px;
    justify-content: flex-start;
}

.sub-para-2 {
    color:#050a4e;
    font-size: 14px;
    margin: 0px;
    margin-bottom: 3px;
}

.available-container {
    width: 100%;
}

.visit-type-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.home-icon {
    margin-right: 5px;
}

.sub-para-3 {
    color:#2e3742;
    font-size: 12.7px;
    font-weight: 500;
    margin: 0px;
    line-height: 1.7;
}

.add-to-cart-container {
    border: solid 1px #156ddc;
    border-radius: 15px;
    color: #156ddc;
    font-weight: 600;
}

.add-button {
    background: none;
    border: none;
    padding: 10px 18px;
}

.child3 {
    align-items: center;
    margin-top: 25px;
}

@media screen and (min-width: 768px) and  (max-width: 1199px) {
    .packages-container {
        margin-top: 35px;
    }

    .featured-health-container {
        padding: 10px 25px;
    }

    .featured-section-heading {
        font-size: 25px;
        font-weight: 500;
    }

    .view-all-para {
        font-size: 22px;
        font-weight: 500;
    }

    .category-button {
        font-size: 15px;
        padding: 12px 17px;
        font-weight: 400;
    }
}


@media screen and (min-width: 1200px) {

}