* {
  box-sizing: border-box !important;
  font-family: "Lexend Deca", serif !important;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  margin: 0px;
  margin-top: 80px;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none !important;
}


ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}